.main {
  display: flex;
  flex-direction: row;
}

.qr-part {
  
    display: flex;
    flex-direction: column;
    align-items: center;
}



.qr-image{
    width: 80%;
    height: 80%;
}

.attendances{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    margin-right : 5px;
}