.main {
  display: flex;
  flex-direction: row;
}

.qr-part {
  
    display: flex;
    flex-direction: column;
    align-items: center;
}


.qr-qr{
    width: 200%;
}



.attendances{
    display: flex;
    flex-direction: column;
    align-items: center;
}

